{% include 'head.html' with page_title='ThreatLens | Submitted Posts' %}
<body>
<div class="wrapper">
<div class="header">
<h1>Submitted Posts</h1>
<div class="nav-buttons">
<a href="/">Dashboard</a>
<a href="{% url 'submit_post' %}">Scan Post</a>
</div>
</div>

<div class="container">
<table>
<tr>
<th>Source</th>
<th>Content</th>
<th>Severity</th>
<th>Score</th>
</tr>
{% for post in posts %}
<tr>
<td>{{ post.source }}</td>
<td class="post-text">
{{ post.content }}
</td>
<td>
{% if post.threat %}
<span class="{{ post.threat.severity|lower }}">
{{ post.threat.severity }}
</span>
{% else %}
<span class="safe">SAFE</span>
{% endif %}
</td>
<td>
{% if post.threat %}
<span class="score">{{ post.threat.score }}</span>
{% else %}
0
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% include 'footer.html' %}
</body>
</html>