{% include 'head.html' with page_title='All Detected Threats' %}
<body>
<div class="wrapper">
<h1>🛡 All Detected Threats</h1>
<table>
<tr>
<th>Suspicious Post</th>
<th>Threat Type</th>
<th>Severity</th>
<th>Score</th>
<th>Detected Time</th>
</tr>
{% for threat in threats %}
<tr>
<td class="post-text">
{{ threat.post.content|truncatechars:100 }}
</td>
<td>
<a href="/threat/{{ threat.id }}/">
{{ threat.threat_type }}
</a>
</td>
<td class="{{ threat.severity|lower }}">
{{ threat.severity }}
</td>
<td>
{{ threat.score }}
</td>
<td>
{{ threat.detected_at }}
</td>
</tr>
{% endfor %}
</table>
</div>
{% include 'footer.html' %}
</body>
</html>